@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
      @media (max-width: $break-mobile) { @content; }
    }
    @if $breakpoint == tablet {
      @media (max-width: $break-tablet) { @content; }
    }
  }