// Variables globales
$transition-speed: 0.3s;
$color-hover: #c1c1b2;
$color-base: #D9D9CF;
$font-main: 'Poppins';
$color-black: #000;
$color-bg: #D9D9CF;
$padding-lg: 15px 32px;
$font-size-base: 16px;
$font-size-lg: 24px;