
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding:0;
    margin: 0;
}


.menu{
    padding:20px;
    margin:auto;

}
.menu ul {
    display:flex;
    justify-content:space-between;
    gap:20px;

    text-decoration:none;
    list-style:none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}
.menu ul li a{
    text-decoration:none;
    color: #000000;
}


h1{
    font-family:"Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #000000;
    padding:20px;
    margin:auto;
    }

h2{
    font-family:"Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #000000;
}

h3{

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #000000;
}

h4{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

color: #000000;
}


    

p{
    font-family:'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

}

button{
    background-color:#D9D9CF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;

}



.texto-contacto{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    
    color: #000000;

}
.formcontacto{

    
    background-color:#D9D9CF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;

}

.boton-enviar{
    background-color:#D9D9CF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}
.categoria{
    display:grid;
    grid-template-columns:1fr 1fr;
    margin:auto;
    padding:20px;
}


.card-descripcion {
    padding:40px;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-categoria{
    margin-top:10px;}

.navbar {
    background-color:#D9D9CF !important;
    text-decoration:none;
    list-style:none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;

}

.container-categoria{
    margin:auto;
    padding:20px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;

}
@media (max-width: 500px) {
    .container-categoria {
    grid-template-columns: 1fr;
    }
}


.container-producto{
    margin:auto;
    padding:20px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:20px;

}
@media (max-width: 600px) {
    .container-producto {
    grid-template-columns: 1fr;
    }
}

@media (min-width:600px)and(max-width: 950px) {
    .container-producto {
    grid-template-columns: 1fr 1fr;
    }
}

footer{
    background-color:#D9D9CF;}

.container-historia{
    padding:20px;
    margin: auto;
}

@media (max-width: 500px) {
    .descubre {
    grid-template-columns: 1fr;
    }
}
.principal{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 500px) {
    .principal {
    grid-template-columns: 1fr;
    }
}
html, body {
    overflow-x: hidden;
}
.contacto{
    padding: 10px;
    margin: auto;
}

